.title {
    color: white
}
.calc {
    background-color: hsl(228, 45%, 44%);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: 24.75% 24.75% 24.75% 24.75%;

}
.display {
    grid-column: 1/6;
    grid-row: 1/1;
    background-color: rgb(47, 8, 84);
    font-size: 11px;
}
.result-operation {
    grid-column: 4/2;
    grid-row: 7/7;
}
.reset-operation {
    grid-column: 6/4;
    grid-row: 7/7;
}
.del-operation {
    grid-column: 5/5;
    grid-row: 3/3;
}
.sum-operation{
    grid-column: 5/5;
    grid-row: 4/4;
}
.sub-operation {
    grid-column: 5/5;
    grid-row: 5/5;    
}

.mult-operation {
    grid-column: 5/5;
    grid-row: 6/6;
}

.division-operation {
    grid-column: 4/4;
    grid-row: 6/6;
}

.number {
    grid-column: 2/2;
    grid-row: 6/6;
}
.number_collum0 {
    grid-column: 3/3;
    grid-row: 6/6;
}
.number_collum1 {
    grid-column: 2/2;
    grid-row: 5/5;
}
.number_collum2 {
    grid-column: 3/3;
    grid-row: 5/5;
}
.number_collum3 {
    grid-column: 4/4;
    grid-row: 5/5;
}
.number_collum4 {
    grid-column: 2/2;
    grid-row: 4/4;
}
.number_collum5 {
    grid-column: 3/3;
    grid-row: 4/4;
}
.number_collum6 {
    grid-column: 4/4;
    grid-row: 4/4;
}
.number_collum7 {
    grid-column: 2/2;
    grid-row: 3/3;
}
.number_collum8 {
    grid-column: 3/3;
    grid-row: 3/3;
}
.number_collum9 {
    grid-column: 4/4;
    grid-row: 3/3;
}

footer {
    grid-column: 2/6;
    grid-row: 10/10;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

.buttons{
    text-align: center;
    font-size: 32px;
}


